
    html, body {
        min-height: 100%;
        }
        body, div, form, input, select, p { 
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #eee;
        }
        body {
        background: url("../image/1306125.jpg") no-repeat center;
        background-size: cover;
        }
        h1, h2 {
        text-transform: uppercase;
        font-weight: 400;
        }
        h2 {
        margin: 0 0 0 8px;
        }
        .main-block {
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: auto;
        padding: 25px;
        }
        .left-part, form {
        padding: 10px;
       
        }
        .left-part {
        text-align: center;
        }
        .fa-graduation-cap {
        font-size: 72px;
        }
        form {
        background: rgba(0, 0, 0, 0.7); 
        float: 80px;
        }
        .title {
            position: absolute;
            top: 22%;
            left: 900px;
            width: 100px;
        display: flex;
        align-items: left;
        margin-bottom: 10px;
        
        }
        .info {
            position: absolute;
            top: 35%;
            left: 570px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        }
        input, select {
        padding: 5px;
        margin-bottom: 30px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #eee;
        }
        input::placeholder {
        color: #eee;
        }
        option:focus {
        border: none;
        }
        option {
        background: black; 
        border: none;
        }
        .checkbox input {
            position: absolute;
            top: 20%;
        margin: 0 10px 0 0;
        /* vertical-align: middle; */
        }



        .checkbox a {
            position: absolute;
            top: 10%;
        color: #26a9e0;
        }
        .checkbox a:hover {
        color: #85d6de;
        }
        .btn-item, button {
        padding: 10px 5px;
        margin-top: 20px;
        border-radius: 5px; 
        border: none;
        background: goldenrod; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color:black;
        }
        .btn-item {
        display: inline-block;
        width: 80px;
        margin: 20px 5px 0;
        }
        button {
            position: absolute;
            top: 80%;
        width: 20%;
        left: 540px;
        }
        button:hover, .btn-item:hover {
        background: goldenrod;
        color: white;
        }
        @media (min-width: 568px) {
        html, body {
        height: 100%;
        }
        .main-block {
        flex-direction: row;
        height: calc(100% - 50px);
        }
        .left-part, form {
        flex: 1;
        height: auto;
        }
        













        *{
            margin: 0;
            padding: 0;
            font-family: century Gothic;
        }
        
        header{
            background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/order.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        ul{
            float: right;
            list-style-type: none;
            margin-top: 20px;
        }
        
        ul li{
            display: inline;
        }
        
        ul li a{
            text-decoration: none;
            color: #fff;
            padding: 5px 20px;
            border: transparent;
            transition: 0.6s ease;
        }
        
        ul li a:hover{
            background-color: #fff;
            color: black;
        } 
        
        ul li.active a{
            background-color: #fff;
            color: black;
        }
        
        
        
        .logo img{
            float: left;
            width: 180px;
            height: auto;
        }
        
        .main {
            max-width: 1300px;
            margin: auto;
        }
    h1{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        
        h1{
            color: gold;
            font-size: 55px;
            
            
        }
 
    
    
